In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import category_encoders as ce
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
# FutureWarning: is_categorical is deprecated and will be removed
# in a future version.  Use is_categorical_dtype instead

In [2]:
df = pd.read_pickle("data/data-6.pkl")
df.shape

(145167, 19)

In [3]:
df.info(verbose=False, memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145167 entries, 0 to 145459
Columns: 19 entries, Date to RainTomorrow
dtypes: datetime64[ns](1), float64(12), object(6)
memory usage: 65.6 MB

In [4]:
df.select_dtypes(include='object').nunique()

Location        49
WindGustDir     16
WindDir9am      16
WindDir3pm      16
RainToday        2
RainTomorrow     2
dtype: int64

In [54]:
df_test = df.copy()

In [57]:
mapping = {'Yes': 1, 'No': 0}
df_test['RainTomorrow'] = df_test['RainTomorrow'].map(mapping)

In [58]:
df_1K = df_test.sample(n=1000)
df_1K.shape

(1000, 19)

In [59]:
df_5K = df_test.sample(n=5000)
df_5K.shape

(5000, 19)

In [60]:
df_10K = df_test.sample(n=10000)
df_10K.shape

(10000, 19)

In [61]:
df_20K = df_test.sample(n=20000)
df_20K.shape

(20000, 19)

In [62]:
df_30K = df_test.sample(n=30000)
df_30K.shape

(30000, 19)

In [41]:
encoder = ce.TargetEncoder(cols=['Location'])
encoder

TargetEncoder(cols=['Location'])

In [42]:
encoder.get_params()

{'cols': ['Location'],
 'drop_invariant': False,
 'handle_missing': 'value',
 'handle_unknown': 'value',
 'min_samples_leaf': 1,
 'return_df': True,
 'smoothing': 1.0,
 'verbose': 0}

In [47]:
%%time
target = df_1K['RainTomorrow']
encoder.fit(df_1K, target)

CPU times: user 24.7 ms, sys: 53 µs, total: 24.8 ms
Wall time: 34 ms

TargetEncoder(cols=['Location'])

In [48]:
%%time
target = df_5K['RainTomorrow']
encoder.fit(df_5K, target)

CPU times: user 28.7 ms, sys: 42 µs, total: 28.7 ms
Wall time: 37.4 ms

TargetEncoder(cols=['Location'])

In [49]:
%%time
target = df_10K['RainTomorrow']
encoder.fit(df_10K, target)

CPU times: user 35.4 ms, sys: 0 ns, total: 35.4 ms
Wall time: 47.5 ms

TargetEncoder(cols=['Location'])

In [50]:
%%time
target = df_20K['RainTomorrow']
encoder.fit(df_20K, target)

CPU times: user 44 ms, sys: 346 µs, total: 44.3 ms
Wall time: 46.9 ms

TargetEncoder(cols=['Location'])

In [51]:
%%time
target = df_30K['RainTomorrow']
encoder.fit(df_30K, target)

CPU times: user 55.5 ms, sys: 0 ns, total: 55.5 ms
Wall time: 65.4 ms

TargetEncoder(cols=['Location'])

In [52]:
%%time
target = df_test['RainTomorrow']
encoder.fit(df_test, target)

CPU times: user 161 ms, sys: 67.6 ms, total: 229 ms
Wall time: 280 ms

TargetEncoder(cols=['Location'])

In [53]:
%%time
encoder.transform(df)

CPU times: user 46.3 ms, sys: 12.3 ms, total: 58.5 ms
Wall time: 66.9 ms

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,0.203490,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No
1,2008-12-02,0.203490,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No
2,2008-12-03,0.203490,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No
3,2008-12-04,0.203490,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No
4,2008-12-05,0.203490,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,0.073557,2.8,23.4,0.0,E,31.0,SE,ENE,13.0,11.0,51.0,24.0,1024.6,1020.3,10.1,22.4,No,No
145456,2017-06-22,0.073557,3.6,25.3,0.0,NNW,22.0,SE,N,13.0,9.0,56.0,21.0,1023.5,1019.1,10.9,24.5,No,No
145457,2017-06-23,0.073557,5.4,26.9,0.0,N,37.0,SE,WNW,9.0,9.0,53.0,24.0,1021.0,1016.8,12.5,26.1,No,No
145458,2017-06-24,0.073557,7.8,27.0,0.0,SE,28.0,SSE,N,13.0,7.0,51.0,24.0,1019.4,1016.5,15.1,26.0,No,No
145459,2017-06-25,0.073557,14.9,20.0,0.0,W,35.0,ESE,ESE,17.0,17.0,62.0,36.0,1020.2,1017.9,15.0,20.9,No,No

In [5]:
encoder = ce.BinaryEncoder()
encoder

BinaryEncoder()

In [6]:
encoder.fit(df['WindGustDir'])

BinaryEncoder()

In [7]:
encoder.get_feature_names()

['WindGustDir_0',
 'WindGustDir_1',
 'WindGustDir_2',
 'WindGustDir_3',
 'WindGustDir_4']

In [8]:
encoder.get_params()

{'cols': None,
 'drop_invariant': False,
 'handle_missing': 'value',
 'handle_unknown': 'value',
 'mapping': None,
 'return_df': True,
 'verbose': 0}

In [9]:
encoder = ce.BinaryEncoder(cols=['WindGustDir'])
encoder

BinaryEncoder(cols=['WindGustDir'])

In [10]:
encoder.get_params()

{'cols': ['WindGustDir'],
 'drop_invariant': False,
 'handle_missing': 'value',
 'handle_unknown': 'value',
 'mapping': None,
 'return_df': True,
 'verbose': 0}

In [11]:
encoder.fit(df)

BinaryEncoder(cols=['WindGustDir'])

In [12]:
encoder.get_feature_names()

['Date',
 'Location',
 'MinTemp',
 'MaxTemp',
 'Rainfall',
 'WindGustDir_0',
 'WindGustDir_1',
 'WindGustDir_2',
 'WindGustDir_3',
 'WindGustDir_4',
 'WindGustSpeed',
 'WindDir9am',
 'WindDir3pm',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Temp9am',
 'Temp3pm',
 'RainToday',
 'RainTomorrow']

In [13]:
df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'WindGustDir',
       'WindGustSpeed', 'WindDir9am', 'WindDir3pm', 'WindSpeed9am',
       'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am',
       'Pressure3pm', 'Temp9am', 'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [14]:
encoder.transform(df)

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir_0,WindGustDir_1,WindGustDir_2,WindGustDir_3,WindGustDir_4,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,0,0,0,0,1,...,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,0,0,0,1,0,...,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,0,0,0,1,1,...,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,0,0,1,0,0,...,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,0,0,0,0,1,...,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,0,1,1,1,1,...,13.0,11.0,51.0,24.0,1024.6,1020.3,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,0,0,1,0,1,...,13.0,9.0,56.0,21.0,1023.5,1019.1,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,0,0,1,1,0,...,9.0,9.0,53.0,24.0,1021.0,1016.8,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,0,1,1,0,1,...,13.0,7.0,51.0,24.0,1019.4,1016.5,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,20.0,0.0,0,0,0,0,1,...,17.0,17.0,62.0,36.0,1020.2,1017.9,15.0,20.9,No,No

In [15]:
df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'WindGustDir',
       'WindGustSpeed', 'WindDir9am', 'WindDir3pm', 'WindSpeed9am',
       'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am',
       'Pressure3pm', 'Temp9am', 'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [17]:
encoder.fit_transform(df['WindGustDir'])

,WindGustDir_0,WindGustDir_1,WindGustDir_2,WindGustDir_3,WindGustDir_4
0,0,0,0,0,1
1,0,0,0,1,0
2,0,0,0,1,1
3,0,0,1,0,0
4,0,0,0,0,1
...,...,...,...,...,...
145455,0,1,1,1,1
145456,0,0,1,0,1
145457,0,0,1,1,0
145458,0,1,1,0,1
145459,0,0,0,0,1

In [30]:
encoder = ce.TargetEncoder(cols=['Location'])
encoder

TargetEncoder(cols=['Location'])

In [31]:
encoder.get_params()

{'cols': ['Location'],
 'drop_invariant': False,
 'handle_missing': 'value',
 'handle_unknown': 'value',
 'min_samples_leaf': 1,
 'return_df': True,
 'smoothing': 1.0,
 'verbose': 0}

In [20]:
one_hot.get_params()

{'cols': ['Location'],
 'drop_invariant': False,
 'handle_missing': 'value',
 'handle_unknown': 'value',
 'mapping': None,
 'return_df': True,
 'verbose': 0}

In [ ]:
encoder.fit(df, df['RainTomorrow'])

In [27]:
one_hot.transform(df)

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,1,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No
1,2008-12-02,1,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No
2,2008-12-03,1,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No
3,2008-12-04,1,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No
4,2008-12-05,1,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,49,2.8,23.4,0.0,E,31.0,SE,ENE,13.0,11.0,51.0,24.0,1024.6,1020.3,10.1,22.4,No,No
145456,2017-06-22,49,3.6,25.3,0.0,NNW,22.0,SE,N,13.0,9.0,56.0,21.0,1023.5,1019.1,10.9,24.5,No,No
145457,2017-06-23,49,5.4,26.9,0.0,N,37.0,SE,WNW,9.0,9.0,53.0,24.0,1021.0,1016.8,12.5,26.1,No,No
145458,2017-06-24,49,7.8,27.0,0.0,SE,28.0,SSE,N,13.0,7.0,51.0,24.0,1019.4,1016.5,15.1,26.0,No,No
145459,2017-06-25,49,14.9,20.0,0.0,W,35.0,ESE,ESE,17.0,17.0,62.0,36.0,1020.2,1017.9,15.0,20.9,No,No

In [28]:
one_hot.get_feature_names()

['Date',
 'Location',
 'MinTemp',
 'MaxTemp',
 'Rainfall',
 'WindGustDir',
 'WindGustSpeed',
 'WindDir9am',
 'WindDir3pm',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Temp9am',
 'Temp3pm',
 'RainToday',
 'RainTomorrow']